accelerate
black
datasets
evaluate
ipykernel
ipython
ipywidgets
jupyter_client
jupyter_core
jupyter-lsp
matplotlib
nbconvert
nbformat
ninja
notebook
packaging
protobuf
sentencepiece
setuptools
tensorboard
torch
torchvision
transformers
trl
wheel
